In [2]:
import pandas as pd
import numpy as np
import sqlite3
!pip install pandas openpyxl

Requirement already satisfied: pandas in /home/jupyter-user-2/.local/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: openpyxl in /opt/tljh/user/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/jupyter-user-2/.local/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/tljh/user/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/jupyter-user-2/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/jupyter-user-2/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in /opt/tljh/user/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [13]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/tljh/user/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/tljh/user/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
census_data = pd.read_excel('../shared_data_read_only/Data/AfriKids/ExternalReports/GES_EMIS/Census Data.xlsx')
census_data.head()

,RegCode,Region,DstCode,District,Academic_Year,Cr_TotSchs_Pub,Cr_TotSchs_Prv,Kg_TotSchs_Pub,Kg_TotSchs_Prv,Prm_TotSchs_Pub,...,Pop12_14F,Pop14M,Pop14F,Pop15M,Pop15F,Pop15_18M,Pop15_18F,Pop18M,Pop18F,PopYear
0,1,ASHANTI,11,ADANSI NORTH,2010-2011,1,14,82,25,85,...,4295,1462,1314,1361,1196,4869,4222,1082,968,2010
1,1,ASHANTI,12,ADANSI SOUTH,2010-2011,0,10,99,30,105,...,5085,1785,1571,1672,1449,6007,5199,1326,1192,2010
2,1,ASHANTI,13,SEKYERE SOUTH,2010-2011,19,11,67,19,65,...,5980,1970,1846,1822,1692,6410,5978,1389,1346,2010
3,1,ASHANTI,14,AHAFO ANO NORTH,2010-2011,0,5,63,11,63,...,3110,1075,967,1010,899,3665,3248,821,747,2010
4,1,ASHANTI,15,AHAFO ANO SOUTH,2010-2011,2,9,97,17,95,...,5244,1815,1546,1614,1346,5436,4452,1154,960,2010

In [16]:
census_data = pd.read_excel('../shared_data_read_only/Data/AfriKids/InternalData/1. Master Stats 2023.xlsx')
census_data.head()

,Use the + or - at the left of the row numbers to open/close the groups,Notes,Ghana,UER,Pre-2018 Northern Region,UWR,NR,NER,Sav.R,Northern regions combined,Source,Page#,Date,Alternative ways to phrase/perspective
0,General,"Demographics, AfriKids",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Population,NaN,30832019,1301226,NaN,901502,2.310939e+06,658946.000000,653266.000000,5825879,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN
3,Percentage of female population,NaN,0.506992,0.514871,NaN,0.511574,5.059562e-01,0.511115,0.498387,0.50838,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN
4,Percentage of male population,NaN,0.493008,0.485129,NaN,0.488426,4.940438e-01,0.488885,0.501613,0.49162,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN

In [3]:
census_data = pd.read_excel('../shared_data_read_only/Data/AfriKids/InternalData/2. Key stats Ghana and Northern Ghana 2021.xlsx')
census_data.head()

,Unnamed: 0,Unnamed: 1,"to work out ""1 in X"" statements, divide 100 by the % number given (as a number not a %)",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,6411.881188,Ghana,Northern Regions combined,Rural,Poorest population,NaN,Source
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,poverty incidence,NaN,0.623,0.395,NaN,the proportion of the population that is poor....,GLSS7 Poverty Profile
4,NaN,contribution to total (Ghana) population in po...,NaN,0.444,0.89,NaN,NaN,GLSS7 Poverty Profile

In [8]:
import pandas as pd

file_path = '../shared_data_read_only/Data/AfriKids/InternalData/2. Key stats Ghana and Northern Ghana 2021.xlsx'


df = pd.read_excel(file_path, engine='openpyxl')


df

,Unnamed: 0,Unnamed: 1,"to work out ""1 in X"" statements, divide 100 by the % number given (as a number not a %)",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,6411.881188,Ghana,Northern Regions combined,Rural,Poorest population,NaN,Source
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,poverty incidence,NaN,0.623,0.395,NaN,the proportion of the population that is poor....,GLSS7 Poverty Profile
4,NaN,contribution to total (Ghana) population in po...,NaN,0.444,0.89,NaN,NaN,GLSS7 Poverty Profile
5,NaN,extreme poverty incidence,NaN,0.35,0.156,NaN,the proportion of the population that is poor....,GLSS7 Poverty Profile
6,NaN,contribution to total (Ghana) population in ex...,NaN,0.672,0.938,NaN,NaN,GLSS7 Poverty Profile
7,NaN,age,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,education,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,violence,0.94,NaN,NaN,NaN,children age 1 to 14 years who experienced any...,Key Findings MICS 2017-2018
11,NaN,child marriage - under 18,0.19,0.26,NaN,NaN,women aged 20 to 24 years who were first marri...,Key Findings MICS 2017-2018
12,NaN,child marriage - under 15,0.05,NaN,0.07,NaN,women aged 20 to 24 years who were first marri...,Key Findings MICS 2017-2019
13,NaN,out of school children,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,primary school reading level,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,child labour,0.3,0.47,0.39,0.46,children age 5 to 17 years is engaged in child...,Key Findings MICS 2017-2018
16,NaN,under 5 mortality,NaN,0.06,NaN,NaN,children die before their 5th birthday,Key Findings MICS 2017-2018; GLSS7
17,NaN,teen mothers,NaN,0.14,NaN,NaN,Percentage of women age 15-19 who have begun c...,Maternal Health Survey 2017
18,NaN,teen mothers,NaN,NaN,0.18,NaN,15-19yos who have ever been pregnant,GLSS7
19,NaN,unsafe deliveries,NaN,0.21,0.29,NaN,of births are delivered without a skilled atte...,Key Findings MICS 2017-2018
20,NaN,unsafe deliveries,NaN,0.27,NaN,NaN,41% in the Northern Region,Maternal Health Survey 2017
21,NaN,Early years education,NaN,0.42,0.38,0.54,children aged 36-59 months not attending an ea...,Key Findings MICS 2017-2018
22,NaN,Attendance - Primary Education,NaN,0.25,NaN,NaN,of children of primary school age who are not ...,Key Findings MICS 2017-2019
23,NaN,Attendance -Junior High Education,NaN,0.76,NaN,NaN,of children of junior high school age who are ...,Key Findings MICS 2017-2020
24,NaN,Attendance -Senior High Education,NaN,0.92,NaN,NaN,of children of senior high school age who are ...,Key Findings MICS 2017-2021
25,NaN,Completion - Primary,NaN,0.46,NaN,NaN,children age 3 to 5 years above the intended a...,Key Findings MICS 2017-2022
26,NaN,Completion - Junior High,NaN,0.31,NaN,NaN,children age 3 to 5 years above the intended a...,Key Findings MICS 2017-2023
27,NaN,Completion - Senior High,NaN,0.6,NaN,NaN,children or youth age 3 to 5 years above the i...,Key Findings MICS 2017-2024
28,NaN,Basic sanitation (toilets) private,NaN,NaN,0.83,NaN,% of population without adequate private toile...,Key Findings MICS 2017-2025
29,NaN,Basic sanitation (toilets) any,NaN,NaN,0.49,NaN,% of population without adequate toilet facili...,Key Findings MICS 2017-2026
30,NaN,Basic hygiene (hand washing) private,NaN,NaN,0.58,NaN,% of population without availability of a priv...,Key Findings MICS 2017-2027
31,NaN,Basic hygiene (hand washing) any,NaN,NaN,0.31,NaN,% of population without availability of handwa...,Key Findings MICS 2017-2028
32,NaN,Exclusion due to menstruation,0.22,NaN,NaN,NaN,15-19 yo girls who did not participate in soci...,Key Findings MICS 2017-2029
33,NaN,never attended school,NaN,0.47,NaN,NaN,persons 15 years and older who have never atte...,GLSS7
34,NaN,CWD in school,0.2,NaN,NaN,NaN,children with physical disabilities not in school,2010 Census according to UNICEF website (not v...
35,NaN,2% of primary school pupils can't read with fl...,NaN,NaN,NaN,NaN,NaN,2015 EGRA Report
36,NaN,NHIS coverage - women 15-49yos,0.46,0.57,NaN,NaN,NaN,Maternal Health Survey 2017
37,NaN,People with disabilities - no education at all,0.4,NaN,0.5,NaN,Persons 3 years and older with a form of disab...,2010 Census + rural stat from disability sub r...
38,NaN,Doctor patient ratio,NaN,NaN,NaN,NaN,"2016 for 3 northern regions: 303 doctors, aver...",https://www.ghanahealthservice.org/downloads/F...
39,NaN,NaN,NaN,NaN,NaN,NaN,WHO recommendation on dr:patient ratio (1:1320),https://www.chs.ug.edu.gh/postgraduate-endowme...
40,NaN,NaN,NaN,NaN,NaN,NaN,a fifth of the population have a form of disab...,https://www.hrw.org/news/2012/08/22/ghana-disa...
41,NaN,street children,NaN,NaN,NaN,NaN,"90,000 in Greater Accra",2016 Street_Children_and_Adolescents_in_Ghana_...
42,NaN,around half of schools don't have adequate toi...,NaN,NaN,NaN,NaN,NaN,https://www.dw.com/en/unicef-ghana-schools-lac...

In [20]:
import pandas as pd


file_path = '../shared_data_read_only/Data/AfriKids/InternalData/2023 Key stats inc 21 census.xlsx'

df = pd.read_excel(file_path, engine='openpyxl')


df = pd.read_excel(file_path, sheet_name='POPULATION summary' )

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,"Unless specified otherwise, data on all tabs i...",NaN
1,NaN,NaN,NaN
2,NaN,Tab key,NaN
3,NaN,NaN,NaN
4,NaN,NaN,Poverty
5,NaN,NaN,NaN
6,NaN,NaN,Population
7,NaN,NaN,NaN
8,NaN,NaN,Education and literacy
9,NaN,NaN,NaN
10,NaN,NaN,Work (economic activity) and child labour
11,NaN,NaN,NaN
12,NaN,NaN,Under 5 mortality

In [21]:
pd.read_excel(file_path, sheet_name='POPULATION summary' )

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,Analysis of children and school attendance in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Ghana total,NaN,NaN,Northern Region,NaN,NaN,Savannah Region,NaN,...,Upper East Region,NaN,NaN,Upper West Region,NaN,NaN,Combined northern regions,NaN,NaN,NaN
2,NaN,NaN,Total,M,F,Total,M,F,Total,M,...,Total,M,F,Total,M,F,Total,M,F,NaN
3,NaN,Total population,30832019,15200440,15631579,2310939,1141705,1169234,653266,327687,...,1301226,631263,669963,901502,440317,461185,5825879,2863121,2962758,3044991.0
4,NaN,Under 18yos #,12900346,6535747,6364599,1144747,586996,557751,316939,162206,...,578414,296401,282013,401506,205121,196385,2780888,1424382,1356506,NaN
5,NaN,Under 18yos %,0.418407,0.429971,0.407163,0.49536,0.51414,0.477023,0.485161,0.495003,...,0.444515,0.469536,0.420938,0.445374,0.465848,0.425827,0.477334,0.497493,0.457852,NaN
6,Basic education,3-6 yos (KG),3101381,1575997,1525384,325466,164694,160772,91020,46024,...,137365,69896,67469,97493,49629,47864,742614,376481,366133,NaN
7,NaN,6-12 yos (Primary),5048539,2571491,2477048,440325,226127,214198,119552,62030,...,229024,117969,111055,157089,80637,76452,1077647,554512,523135,NaN
8,NaN,12-15 yos (JHS),2676585,1354902,1321683,197658,104075,93583,56508,29890,...,121959,63657,58302,81657,42397,39260,519732,272405,247327,NaN
9,NaN,3-15 yos (basic education)\nremoves double cou...,9360819,4754765,4606054,834654,428522,406132,231960,119571,...,422647,217531,205116,291391,149590,141801,2027637,1042052,985585,NaN
10,NaN,% 3-15 yos represent of 'total population' (pe...,0.303607,0.312804,0.294663,0.361175,0.375335,0.347349,0.355077,0.364894,...,0.324807,0.344596,0.30616,0.323228,0.339733,0.307471,0.34804,0.363957,0.332658,NaN
11,NaN,15-18 yos (SHS),2688075,1341989,1346086,179256,94173,85083,55403,28762,...,119680,60463,59217,80468,40803,39665,492234,253745,238489,NaN
12,NaN,18yo+,17931673,8664693,9266980,1166192,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,https://afrikids.sharepoint.com/:x:/g/EZxBRSr6...,Currently in KG,1580996,807556,773440,96840,49379,47461,22530,11431,...,63758,32371,31387,43837,22060,21777,258884,131378,127506,NaN
15,NaN,Currently in Primary,4555250,2324071,2231179,329150,171779,157371,71388,36757,...,212003,109183,102820,138597,70007,68590,847478,437766,409712,NaN
16,NaN,Currently in JHS,2031006,1039302,991704,122109,66077,56032,29965,15934,...,89637,45682,43955,59372,30310,29062,336400,177107,159293,NaN
17,NaN,Currently in basic education (any of the above),8167252,4170929,3996323,548099,287235,260864,123883,64122,...,365398,187236,178162,241806,122377,119429,1442762,746251,696511,NaN
18,NaN,% of 3-15 yo population currently attending ba...,0.872493,0.87721,0.867624,0.656678,0.670292,0.642313,0.534071,0.536267,...,0.864547,0.860732,0.868591,0.829833,0.818083,0.84223,0.711548,0.716136,0.706698,NaN
19,NaN,Therefore basic education OOSC estimate,1193567,583836,609731,286555,141287,145268,108077,55449,...,57249,30295,26954,49585,27213,22372,584875,295801,289074,5241004.0
20,NaN,NaN,0.127507,0.12279,0.132376,0.343322,0.329708,0.357687,0.465929,0.463733,...,0.135453,0.139268,0.131409,0.170167,0.181917,0.15777,0.288452,0.283864,0.293302,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Currently attending school,11286990,5798519,5488471,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,4-17 yos,9911433,5022025,4889408,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Difference,1375557,776494,599063,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,3-17yos,10683091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,3+yos currently attending KG-Secondary,9677312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
28,NaN,NaN,1005779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.466787,NaN,NaN,NaN
30,NaN,NaN,7.842726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.466787,NaN,NaN,NaN
31,NaN,NaN,0.127507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.288452,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.188955,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Key facts:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,Northern Ghana (lower case n) is home to nearl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,Nearly half (48%) of the population of norther...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,There are 2.7 million children in northern Gha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,There are 1.3 million girls in northern Ghana ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,There are over 2 million children in northern ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,Nearly 1 in 3/a third of 3-15 year olds in nor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,There are around 1.2 million 3-15 year old chi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,Around 1 in 8 3-15 year old children in Ghana ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,"Nearly 1 in 3 (290,000) 3-15 year old girls ar...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,https://en.wikipedia.org/wiki/Education_in_Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

# WE HAVE Ghana Districts Map n Populations data set here for 2020
import pandas as pd


file_path = '../shared_data_read_only/Data/AfriKids/InternalData/Ghana Districts Map and Population 2020.xlsx'

df = pd.read_excel(file_path, engine='openpyxl')

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Target districts TBC
0,NaN,Ghana Statistical Service 2019: https://www.st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Districts named in Health programme
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Demo Districts originally proposed based on lo...
2,NaN,NaN,Upper East Region,NaN,NaN,NaN,Upper West Region,NaN,NaN,NaN,...,NaN,NaN,NaN,North East Region,NaN,NaN,NaN,Savannah Region,NaN,NaN
3,NaN,NaN,District Name,Population,NaN,NaN,District Name,Population,NaN,NaN,...,Population,NaN,NaN,District Name,Population,NaN,NaN,District Name,Population,NaN
4,NaN,1,Bawku,119907,NaN,1.0,Daffiama Bussie,39701,6.0,1.0,...,137252,NaN,1.0,Bunkprugu-Yunyoo,151737,NaN,1.0,North Gonja,District breakdown not yet available,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,North East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:

import pandas as pd

file_path = '../shared_data_read_only/Data/AfriKids/InternalData/1. Master Stats 2023.xlsx'

df = pd.read_excel(file_path, engine='openpyxl')

df

import matplotlib.pyplot as plt

regions = df.columns[1:]  
population_data = df.loc[df[0] == 'Population']

plt.figure(figsize=(10, 6))
plt.bar(regions, population_data.iloc[0, 1:])
plt.title('Population Distribution by Region')
plt.xticks(rotation=45)
plt.show()

KeyError: 0